* {
    margin: 0;
    padding: 0;
    border: 0;
    }
    
    #imgfull {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    }